# Node.js
node_modules/
npm-debug.log
.env
coverage/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
/build/

# IDE
.idea/
.vscode/
*.iml
*.iws
.DS_Store